@import 'nib'
header
    nav,figure
        display: inline-block
        vertical-align middle
    nav
        width 60%
        ul
            float right
            li
                list-style none
                a
                    text-decoration none
    figure

        img
            width 50px

        figcaption,img
            display inline-block
            vertical-align middle

        figcaption
            font-size 1.5em
            color green
            text-shadow  rgb(190, 181, 181) 0.1em 0.1em 0.2em
            border-radius 40px

div#navbar_principal
    background-color #34495e;

div#login
    padding 10em 2em
    text-align center
    .icono-login
        width 100px
        margin-right 2em
    .icono-login, .login-form
        position none
        display inline-block
     .login-form
        text-align left
        vertical-align top 
section#intro
    
    hgroup,#btn_pruebalo_wrapper
        padding 2em

section#features
    margin-bottom 1em
    margin-top 1em
    background-color #777777
    padding-top 2em
    padding-bottom 2em
