header nav,header figure{display:inline-block;vertical-align:middle}
header nav{width:60%;}
header nav ul{float:right;}
header nav ul li{list-style:none;}
header nav ul li a{text-decoration:none}
header figure img{width:50px}
header figure figcaption,header figure img{display:inline-block;vertical-align:middle}
header figure figcaption{font-size:1.5em;color:#008000;text-shadow:#beb5b5 .1em .1em .2em;-webkit-border-radius:40px;border-radius:40px}
div#navbar_principal{background-color:#34495e;}
div#navbar_principal ul li a{color:#fff}
div#navbar_principal ul li.active a{color:#1abc9c}
div#login{padding:10em 2em;text-align:center;}
div#login .icono-login{width:100px;margin-right:2em}
div#login .icono-login,div#login .login-form{position:none;display:inline-block}
div#login .login-form{text-align:left;vertical-align:top}
section#intro hgroup,section#intro #btn_pruebalo_wrapper{padding:2em}
section#features{margin-bottom:1em;margin-top:1em;background-color:#777;padding-top:2em;padding-bottom:2em}
div#chat-wrapper{height:90%;padding:1em}
div#lienzo{min-height:100%;height:auto !important;height:100%;margin:0 auto -60px;margin-top:-15px}
div#lienzo-inner{height:100% !important}
body,html{height:100%}
.push,footer{height:60px}
video{width:100%;height:200px;-webkit-border-radius:4px;border-radius:4px;background-color:#000}
video#remotevideo{margin-top:2em}
