@import 'nib'
header
    nav,figure
        display: inline-block
        vertical-align middle
    nav
        width 60%
        ul
            float right
            li
                list-style none
                a
                    text-decoration none
    figure

        img
            width 50px

        figcaption,img
            display inline-block
            vertical-align middle

        figcaption
            font-size 1.5em
            color green
            text-shadow  rgb(190, 181, 181) 0.1em 0.1em 0.2em
            border-radius 40px

.estado_conectado
    display none
.estado_desconectado
    display block
.call_options    
    display none
    text-align center

div#navbar_principal
    background-color #34495e;
    ul
        li            
            a
                color #ffffff
        li.active
            a
                color #1abc9c

div#login
    padding 10em 2em
    text-align center
    .icono-login
        width 100px
        margin-right 2em
    .icono-login, .login-form
        position none
        display inline-block
     .login-form
        text-align left
        vertical-align top 
section#intro
    
    hgroup,#btn_pruebalo_wrapper
        padding 2em

section#features
    margin-bottom 1em
    margin-top 1em
    background-color #777777
    padding-top 2em
    padding-bottom 2em
    
div#chat-wrapper
    height 90%
    padding 1em
    
div#lienzo
    min-height 100%
    height auto !important
    height 100%
    margin 0 auto -60px
    margin-top -15px

div#lienzo-inner
    height 100% !important
    
body,html
    height 100%
    overflow visible !important

.push,footer
    height 60px

video
    width 100%
    height 25% 
    border-radius 4px
    background-color black

#remote-user-status
    text-align center
    span
        display inline-
        vertical-align top


video#remotevideo
    margin-top 1em

.reveal
    position fixed !important
    height 100%
    width 80%
    .slides
        left 43% !important

    
