{% extends "base.html" %}

{% block extra_head %}
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

         <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> 

       <link rel="stylesheet" href="{{ STATIC_URL }}reveal/css/reveal.min.css">
       <link rel="stylesheet" href="{{ STATIC_URL }}reveal/css/theme/simple.css" id="theme"> 

        <!-- For syntax highlighting -->
        <link rel="stylesheet" href="{{ STATIC_URL }}reveal/lib/css/zenburn.css">

                <!-- If the query includes 'print-pdf', use the PDF print sheet -->
        <script>
            document.write( '<link rel="stylesheet" href="{{ STATIC_URL }}reveal/css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
        </script>

        <!--[if lt IE 9]>
        <script src="{{ STATIC_URL }}reveal/lib/js/html5shiv.js"></script>
        <![endif]-->


{% endblock %}

{% block content %}
<div  id="lienzo"  >
    <div id="lienzo-inner" class="row-fluid">
        <div class="span9">
            {% if user.is_staff %}
            <div id="presentaciones">
                <h2>Presentaciones</h2>
                <ul>
                    {% for item in presentaciones %}
                        <li> <a class="carga_clase" href="{% url 'clase' item.id %}"> {{ item }} </a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}            
            <div class="reveal">
                <div class="slides">

            </div>
        </div>



        </div>
		<div id="chat-wrapper"  class="span3"> 
        <video id="localvideo" muted="true" autoplay></video>
        <button id="activar_cam" class="btn btn-block btn-success"> Entrar al salón </button>
        <hr>

        <video id="remotevideo" autoplay></video>
         <div class="alert alert-info" id="remote-user-status">
            <h4 > <span class="user_remote" ></span>
               <span class="estado_desconectado">Desconectado</span>  <span class="estado_conectado">Conectado</span>   </h4>
        </div>      
        {% if user.is_staff %}
        <div class="call_options">
        <button id="conectar" class="btn btn-success"> Conectar  </button>
        <button id="colgar" class="btn  btn-error"> Colgar  </button>
        </div>
        {% endif %}
		</div>
	</div>
    <div class="push"></div>
</div>

{% endblock content %}

{% block extra_js %}
        <script src="{{ STATIC_URL }}reveal/lib/js/head.min.js"></script>
        <script src="{{ STATIC_URL }}reveal/js/reveal.min.js"></script>
        <script>
          

function initReveal(){

   Reveal.initialize({
                controls: true,
                progress: true,
                history: false,
                center: false,
                width: 500,
                height: 500,
                keyboard: false,


                //theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
                transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

                // Optional libraries used to extend on reveal.js
                dependencies: [
                    { src: '{{ STATIC_URL }}reveal/lib/js/classList.js', condition: function() { return !document.body.classList; } },
                    { src: '{{ STATIC_URL }}reveal/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                    { src: '{{ STATIC_URL }}reveal/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                    { src: '{{ STATIC_URL }}reveal/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
                    { src: '{{ STATIC_URL }}reveal/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
                    { src: '{{ STATIC_URL }}reveal/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
                    // { src: 'plugin/search/search.js', async: true, condition: function() { return !!document.body.classList; } }
                    // { src: 'plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
                ]
            }); 
}
        {% if user.is_staff %}
          Reveal.addEventListener( 'slidechanged', function( event ) {
    // event.previousSlide, event.currentSlide, event.indexh, event.indexv
                sendMessage({type:"mover",
                    indexh:event.indexh,
                    indexv:event.indexv
                })

            });
        {% endif%}

        </script>

<style>
    {% if not user.is_staff %}
        .controls{
            display: none !important;
        }
    {% endif %}
</style>
<script type="text/javascript">
    {% if user.is_staff %}
    var usuario = "admin"
     {% else %}
     var usuario = "estudiante"
    {% endif %}
    var nickname ="{{ user }}"
   var  server = "luiskhernandez-salonvirtualws.jit.su/";
  // var server = "localhost:8080" 
</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
{% endblock extra_js %}
